## Python Lists

The following are the properties of a list.

- Mutable: The elements of the list can be modified. We can add or remove items to the list after it has been created.
- Ordered: The items in the lists are ordered. Each item has a unique index value. The new items will be added to the end of the list.
- Heterogenous: The list can contain different kinds of elements i.e; they can contain elements of string, integer, boolean, or any type.
Duplicates: The list can contain duplicates i.e., lists can have two items with the same values.

## Why use a list?

- The list data structure is very flexible It has many unique inbuilt functionalities like pop(), append(), etc which makes it easier, where the data keeps changing.
- Also, the list can contain duplicate elements i.e two or more items can have the same values.
- Lists are Heterogeneous i.e, different kinds of objects/elements can be added
- As Lists are mutable it is used in applications where the values of the items change frequently.

## Creating a Python list
The list can be created using either the list constructor or using square brackets [].

- Using list() constructor: In general, the constructor of a class has its class name. Similarly, Create a list by passing the comma-separated values inside the list().
- Using square bracket ([]): In this method, we can create a list simply by enclosing the items inside the square brackets

Let us see examples for creating the list using the above methods

In [42]:
# using list constructor
myList1 = list((1, 2, 3))
print(myList1)

# using square brackets
myList2 = [1, 2, 3]
print(myList2)

# With heterogeneous items
myList3 = [1.3, "Tindae", 3]
print(myList3)

# empty list using list()
myList4 = list()
print(myList4)

# empty list using []

myList5 = []
print(myList5)

[1, 2, 3]
[1, 2, 3]
[1.3, 'Tindae', 3]
[]
[]

## Length of a List

In order to find the number of items present in a list, we can use the len() function.

In [43]:
myList = [1, 2, 3]
print(len(myList))

3

## Accessing items of a List
The items in a list can be accessed through indexing and slicing. This section will guide you by accessing the list using the following two ways

- Using indexing, we can access any item from a list using its index number
- Using slicing, we can access a range of items from a list

# Indexing

The list elements can be accessed using the “indexing” technique. Lists are ordered collections with unique indexes for each item. We can access the items in the list using this index number.

![OpenAI Logo](positive-and-negative-indexing.jpg)

To access the elements in the list from left to right, the index value starts from zero to (length of the list-1) can be used. For example, if we want to access the 3rd element we need to use 2 since the index value starts from 0.

Note:

As Lists are ordered sequences of items, the index values start from 0 to the Lists length.
Whenever we try to access an item with an index more than the Lists length, it will throw the 'Index Error'.
Similarly, the index values are always an integer. If we give any other type, then it will throw Type Error.

Example:

In [44]:
my_list = [10, 20, "Tindae", 12.50, "Lima"]

# accessing 2nd element of the list

print(my_list[1]) # 20

# accessing 5th element of the list

print(my_list[4]) # Lima

20
Lima

As seen in the above example we accessed the second element in the list by passing the index value as 1. Similarly, we passed index 4 to access the 5th element in the list.

Negative Indexing
The elements in the list can be accessed from right to left by using negative indexing. The negative value starts from -1 to -length of the list. It indicates that the list is indexed from the reverse/backward.

In [45]:
my_list = [10, 20, 'Tindae', 12.50, 'Lima']
# accessing last element of the list
print(my_list[-1])
# output 'Lima'

# accessing second last element of the list
print(my_list[-2])
# output 12.5

# accessing 4th element from last
print(my_list[-4])
# output 20

Lima
12.5
20

As seen in the above example to access the 4th element from the last (right to left) we pass ‘-4’ in the index value.

## List Slicing
Slicing a list implies, accessing a range of elements in a list. For example, if we want to get the elements in the position from 3 to 7, we can use the slicing method. We can even modify the values in a range by using this slicing technique.

The below is the syntax for list slicing.

listname[start_index : end_index : step]
- The start_index denotes the index position from where the slicing should begin and the end_index parameter denotes the index positions till which the slicing should be done.
- The step allows you to take each nth-element within a start_index:end_index range.

In [46]:
my_list = [10, 20, "Tindae", 12.50, "Lima", 25, 50]

# Extracting a portion of the list from 3rd till the 5th element

print(my_list[2 : 5])

['Tindae', 12.5, 'Lima']

## Let us see few more examples of slicing a list such as

- Extract a portion of the list
- Reverse a list
- Slicing with a step
- Slice without specifying start or end position

Example:

In [47]:
my_list = [5, 8, "Tee", 7.50, "Salum"]

# Slice first four items

print(my_list[ :4])

# print every second element
# with a skip of count 2

print(my_list[: : 2])

# reversing the list

print(my_list[: : -1])

# without end value
# starting from the third to the last item

print(my_list[3: ])

[5, 8, 'Tee', 7.5]
[5, 'Tee', 'Salum']
['Salum', 7.5, 'Tee', 8, 5]
[7.5, 'Salum']

## Iterating a List

The objects in the list can be iterated over one by one, by using a for a loop

In [48]:
my_list = [5, 8, 'Limzy', 7.50, "Tee"]

# iterate a list
for item in my_list:
    print(item)

5
8
Limzy
7.5
Tee

Iterate along with an index number
The index value starts from 0 to (length of the list-1). Hence using the function range() is ideal for this scenario.

The range function returns a sequence of numbers. By default, it returns starting from 0 to the specified number (increments by 1). The starting and ending values can be passed according to our needs.

Example:

In [49]:
my_list = [5, 8, "Tee", 7.50, "Salum"]

# Iterate a list

for i in range(0, len(my_list)):
    print(my_list[i])

5
8
Tee
7.5
Salum

## Adding elements to the list
We can add a new element/list of elements to the list using the list methods such as append(), insert(), and extend().

Append item at the end of the list
The append() method will accept only one parameter and add it at the end of the list.

Let’s see the example to add the element ‘Emma’ at the end of the list

In [50]:
my_list = list([5, 8, 'Tee', 7.50])

# Using append()
my_list.append('Lavo')
print(my_list)


# append the nested list at the end
my_list.append([25, 50, 75])
print(my_list)

[5, 8, 'Tee', 7.5, 'Lavo']
[5, 8, 'Tee', 7.5, 'Lavo', [25, 50, 75]]

## Add item at the specified position in the list
Use the insert() method to add the object/item at the specified position in the list. The insert method accepts two parameters position and object.

insert(index, object)
It will insert the object in the specified index. Let us see this with an example.

In [51]:
my_list = list([5, 8, 'Tom', 7.50])

# Using insert()
# insert 25 at position 2
my_list.insert(2, 25)
print(my_list)


# insert nested list at position 3
my_list.insert(3, [25, 50, 75])
print(my_list)

[5, 8, 25, 'Tom', 7.5]
[5, 8, 25, [25, 50, 75], 'Tom', 7.5]

As seen in the above example item 25 is added at the index position 2.

## Using extend()
The extend method will accept the list of elements and add them at the end of the list. We can even add another list by using this method.

Let’s add three items at the end of the list.

In [52]:
my_list = list([5, 8, 'Tee', 7.50])

# Using extend()
my_list.extend([25, 75, 100])
print(my_list)

[5, 8, 'Tee', 7.5, 25, 75, 100]

As seen in the above example we have three integer values at once. All the values get added in the order they were passed and it gets appended at the end of the list.

Modify the items of a List
The list is a mutable sequence of iterable objects. It means we can modify the items of a list. Use the index number and assignment operator (=) to assign a new value to an item.

Let’s see how to perform the following two modification scenarios

- Modify the individual item.
- Modify the range of items.

In [53]:
my_list = list([2, 4, 6, 8, 10, 12])

# modify single item
my_list[0] = 20
print(my_list)
# Output [20, 4, 6, 8, 10, 12]

# modify range of items
# modify from 1st index to 4th
my_list[1:4] = [40, 60, 80]
print(my_list)
# Output [20, 40, 60, 80, 10, 12]

# modify from 3rd index to end
my_list[3:] = [80, 100, 120]
print(my_list)
# Output [20, 40, 60, 80, 100, 120]

[20, 4, 6, 8, 10, 12]
[20, 40, 60, 80, 10, 12]
[20, 40, 60, 80, 100, 120]

## Modify all items
Use for loop to iterate and modify all items at once. Let’s see how to modify each item of a list.

In [54]:
my_list = list([2, 4, 6, 8])

# change value of all items
for i in range(len(my_list)):
    # calculate square of each number
    square = my_list[i] * my_list[i]
    my_list[i] = square

print(my_list)

[4, 16, 36, 64]

## Removing elements from a List
The elements from the list can be removed using the following list methods.
method	             Description
----------------|-----------------------
                |
remove(item)	|   To remove the first occurrence of the item from the list.
pop(index)	    |   Removes and returns the item at the given index from the list.
clear()         | 	To remove all items from the list. The output will be an empty list.
del list_name	|   Delete the entire list.

Python List methods to remove item

Remove specific item
Use the remove() method to remove the first occurrence of the item from the list.

Note:  It Throws a keyerror if an item not present in the original list.

Example:

In [55]:
my_list = list([2, 4, 6, 8, 10, 12])

# remove item 6
my_list.remove(6)
# remove item 8
my_list.remove(8)

print(my_list)

[2, 4, 10, 12]

Remove all occurrence of a specific item
Use a loop to remove all occurrence of a specific item

In [56]:
my_list = list([6, 4, 6, 6, 8, 12])

for item in my_list:
    my_list.remove(6)

print(my_list)

[4, 8, 12]

Remove item present at given index
Use the pop() method to remove the item at the given index. The pop() method removes and returns the item present at the given index.

Note: It will remove the last item from the list if the index number is not passed.

Example:

In [57]:
my_list = list([2, 4, 6, 8, 10, 12])

# remove item present at index 2
my_list.pop(2)
print(my_list)


# remove item without passing index number
my_list.pop()
print(my_list)

[2, 4, 8, 10, 12]
[2, 4, 8, 10]

## Remove the range of items
Use del keyword along with list slicing to remove the range of items

In [58]:
my_list = list([2, 4, 6, 8, 10, 12])

# remove range of items
# remove item from index 2 to 5
del my_list[2:5]
print(my_list)


# remove all items starting from index 3
my_list = list([2, 4, 6, 8, 10, 12])
del my_list[3:]
print(my_list)

[2, 4, 12]
[2, 4, 6]

Remove all items
Use the list’ clear() method to remove all items from the list. The clear() method truncates the list.

In [59]:
my_list = list([2, 4, 6, 8, 10, 12])

# clear list
my_list.clear()
print(my_list)


# Delete entire list
del my_list

[]

Finding an element in the list
Use the index() function to find an item in a list.

The index() function will accept the value of the element as a parameter and returns the first occurrence of the element or returns ValueError if the element does not exist

In [60]:
my_list = list([2, 4, 6, 8, 10, 12])

print(my_list.index(8))


# returns error since the element does not exist in the list.
# my_list.index(100)

3

## Concatenation of two lists
The concatenation of two lists means merging of two lists. There are two ways to do that.

- Using the + operator.
- Using the extend() method. The extend() method appends the new list’s items at the end of the calling list.
Example:

In [61]:
my_list1 = [1, 2, 3]
my_list2 = [4, 5, 6]

# Using + operator
my_list3 = my_list1 + my_list2
print(my_list3)


# Using extend() method
my_list1.extend(my_list2)
print(my_list1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

## Copying a list
There are two ways by which a copy of a list can be created. Let us see each one with an example.

## Using assignment operator (=)
This is a straightforward way of creating a copy. In this method, the new list will be a deep copy. The changes that we make in the original list will be reflected in the new list.

This is called deep copying.

In [62]:
my_list1 = [1, 2, 3]

# Using = operator
new_list = my_list1
# printing the new list
print(new_list)


# making changes in the original list
my_list1.append(4)

# print both copies
print(my_list1)

print(new_list)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]

As seen in the above example a copy of the list has been created. The changes made to the original list are reflected in the copied list as well.

Note: When you set list1 = list2, you are making them refer to the same list object, so when you modify one of them, all references associated with that object reflect the current state of the object. So don’t use the assignment operator to copy the dictionary instead use the copy() method.

## Using the copy() method
The copy method can be used to create a copy of a list. This will create a new list and any changes made in the original list will not reflect in the new list. This is shallow copying.

In [63]:
my_list1 = [1, 2, 3]

# Using copy() method
new_list = my_list1.copy()
# printing the new list
print(new_list)


# making changes in the original list
my_list1.append(4)

# print both copies
print(my_list1)

print(new_list)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

As seen in the above example a copy of the list has been created. The changes made to the original list are not reflected in the copy.

## List operations
We can perform some operations over the list by using certain functions like sort(), reverse(), clear() etc.

Sort List using sort()
The sort function sorts the elements in the list in ascending order.

In [64]:
mylist = [3,2,1]
mylist.sort()
print(mylist)

[1, 2, 3]

As seen in the above example the items are sorted in the ascending order.

## Reverse a List using reverse()

The reverse function is used to reverse the elements in the list.

In [65]:
mylist = [3, 4, 5, 6, 1]
mylist.reverse()
print(mylist)

[1, 6, 5, 4, 3]

As seen in the above example the items in the list are printed in the reverse order here.

Python Built-in functions with List
In addition to the built-in methods available in the list, we can use the built-in functions as well on the list. Let us see a few of them for example.

## Using max() & min()
The max function returns the maximum value in the list while the min function returns the minimum value in the list.

In [66]:
mylist = [3, 4, 5, 6, 1]
print(max(mylist)) #returns the maximum number in the list.
print(min(mylist)) #returns the minimum number in the list.

6
1

As seen in the above example the max function returns 6 and min function returns 1.
## Using sum()
The sum function returns the sum of all the elements in the list.

In [67]:
mylist = [3, 4, 5, 6, 1]
print(sum(mylist))

19

As seen in the above example the sum function returns the sum of all the elements in the list.

all()
In the case of all() function, the return value will be true only when all the values inside the
 list are true. Let us see the different item values and the return values.

Item Values in List	Return Value
All Values are True	True
One or more False Values	False
All False Values	False
Empty List

In [68]:
#with all true values
samplelist1 = [1,1,True]
print("all() All True values::",all(samplelist1))

#with one false
samplelist2 = [0,1,True,1]
print("all() with One false value ::",all(samplelist2))

#with all false
samplelist3 = [0,0,False]
print("all() with all false values ::",all(samplelist3))

#empty list
samplelist4 = []

all() All True values:: True
all() with One false value :: False
all() with all false values :: False

## Nested List
The list can contain another list (sub-list), which in turn contains another list and so on. This is termed a nested list.

mylist = [3, 4, 5, 6, 3, [1, 2, 3], 4]
In order to retrieve the elements of the inner list we need a nested For-Loop.

In [69]:
nestedlist = [[2,4,6,8,10],[1,3,5,7,9]]

print("Accessing the third element of the second list",nestedlist[1][2])
for i in nestedlist:
  print("list",i,"elements")
  for j in i:
    print(j)

Accessing the third element of the second list 5
list [2, 4, 6, 8, 10] elements
2
4
6
8
10
list [1, 3, 5, 7, 9] elements
1
3
5
7
9

## Tuples in Python

What is a Tuple
Tuples are ordered collections of heterogeneous data that are unchangeable. Heterogeneous means tuple can store variables of all types.

Tuple has the following characteristics:

- Ordered: Tuples are part of sequence data types, which means they hold the order of the data insertion. It maintains the index value for each item.
- Unchangeable: Tuples are unchangeable, which means that we cannot add or delete items to the tuple after creation.
- Heterogeneous: Tuples are a sequence of data of different data types (like integer, float, list, string, etc;) and can be accessed through indexing and slicing.
- Contains Duplicates: Tuples can contain duplicates, which means they can have items with the same value.

![OpenAI Logo](python-tuple.jpg)

## Creating a Tuple
We can create a tuple using the two ways

- Using parenthesis (): A tuple is created by enclosing comma-separated items inside rounded brackets.
- Using a tuple() constructor: Create a tuple by passing the comma-separated items inside the tuple().

Example:

A tuple can have items of different data type integer, float, list, string, etc;

In [70]:
# create a tuple using ()
# number tuple
number_tuple = (10, 20, 25.75)
print(number_tuple)


# string tuple
string_tuple = ('Jessa', 'Emma', 'Kelly')
print(string_tuple)


# mixed type tuple
sample_tuple = ('Jessa', 30, 45.75, [25, 78])
print(sample_tuple)


# create a tuple using tuple() constructor
sample_tuple2 = tuple(('Jessa', 30, 45.75, [23, 78]))
print(sample_tuple2)

(10, 20, 25.75)
('Jessa', 'Emma', 'Kelly')
('Jessa', 30, 45.75, [25, 78])
('Jessa', 30, 45.75, [23, 78])

As we can see in the above output, the different items are added in the tuple like integer, string, and list.

Create a tuple with a single item
A single item tuple is created by enclosing one item inside parentheses followed by a comma. If the tuple time is a string enclosed within parentheses and not followed by a comma, Python treats it as a str type. Let us see this with an example.

In [71]:
# without comma
single_tuple = ('Hello')
print(type(single_tuple))
# Output class 'str'
print(single_tuple)


# with comma
single_tuple1 = ('Hello',)

print(type(single_tuple1))
print(single_tuple1)

<class 'str'>
Hello
<class 'tuple'>
('Hello',)

As we can see in the above output the first time, we did not add a comma after the “Hello”. So the variable type was class str, and the second time it was a class tuple.

## Packing and Unpacking
A tuple can also be created without using a tuple() constructor or enclosing the items inside the parentheses. It is called the variable “Packing.”
In Python, we can create a tuple by packing a group of variables. Packing can be used when we want to collect multiple values in a single variable. Generally, this operation is referred to as tuple packing.

Similarly, we can unpack the items by just assigning the tuple items to the same number of variables. This process is called “Unpacking.”

Let us see this with an example.

In [72]:
# packing variables into tuple
tuple1 = 1, 2, "Hello"
# display tuple
print(tuple1)


print(type(tuple1))


# unpacking tuple into variable
i, j, k = tuple1
# printing the variables
print(i, j, k)

(1, 2, 'Hello')
<class 'tuple'>
1 2 Hello

As we can see in the above output, three tuple items are assigned to individual variables i, j, k, respectively.

In case we assign fewer variables than the number of items in the tuple, we will get the value error with the message too many values to unpack

## Length of a Tuple

We can find the length of the tuple using the len() function. This will return the number of items in the tuple.

In [73]:
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
# length of a tuple
print(len(tuple1))

6

## Iterating a Tuple
We can iterate a tuple using a for loop Let us see this with an example.

In [74]:
# create a tuple
sample_tuple = tuple((1, 2, 3, "Hello", [4, 8, 16]))
# iterate a tuple
for item in sample_tuple:
    print(item)

1
2
3
Hello
[4, 8, 16]

## Accessing items of a Tuple
Tuple can be accessed through indexing and slicing. This section will guide you by accessing tuple using the following two ways

Using indexing, we can access any item from a tuple using its index number
Using slicing, we can access a range of items from a tuple
Indexing
A tuple is an ordered sequence of items, which means they hold the order of the data insertion. It maintains the index value for each item.

We can access an item of a tuple by using its index number inside the index operator [] and this process is called “Indexing”.

Note:

As tuples are ordered sequences of items, the index values start from 0 to the tuple’s length.
Whenever we try to access an item with an index more than the tuple’s length, it will throw the 'Index Error'.
Similarly, the index values are always integer. If we give any other type, then it will throw Type Error.

![OpenAI Logo](positive-and-negative-indexing.jpg)

In the above image, we can see that the index values start from zero and it goes till the last item whose index value will be len(tuple) - 1 .

In [75]:
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
for i in range(4):
    print(tuple1[i])

P
Y
T
H

As seen in the above example, we print the tuple’s first four items with the indexing.

Note: If we mention the index value greater than the length of a tuple then it will throw an index error.

In [76]:
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')

# IndexError: tuple index out of range
print(tuple1[7])

IndexError: tuple index out of range

## Negative Indexing
The index values can also be negative, with the last but the first items having the index value as -1 and second last -2 and so on.

For example, We can access the last item of a tuple using tuple_name[-1].

Let’s do two things here

Access tuple items using the negative index value
Iterate tuple using negative indexing
Example

In [77]:
tuple1 = ('P', 'Y', 'T', 'H', 'O', 'N')
# Negative indexing
# print last item of a tuple
print(tuple1[-1])  # N
# print second last
print(tuple1[-2])  # O

# iterate a tuple using negative indexing
for i in range(-6, 0):
    print(tuple1[i], end=", ")

N
O
P, Y, T, H, O, N,

We can even specify a range of items to be accessed from a tuple using the technique called ‘Slicing.’ The operator used is ':'.

We can specify the start and end values for the range of items to be accessed from the tuple. The output will be a tuple, and it includes the range of items with the index values from the start till the end of the range. The end value item will be excluded.

We should keep in mind that the index value always starts with a 0.

For easy understanding, we will be using an integer tuple with values from 0 to 9 similar to how an index value is assigned.

In [78]:
tuple1 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# slice a tuple with start and end index number
print(tuple1[1:5])

(1, 2, 3, 4)

As seen in the above output the values starting from 1 to 4 are printed. Here the last value in the range 5 is excluded.

Note:

If the start value is not mentioned while slicing a tuple, then the values in the tuples start from the first item until the end item in the range. Again the end item in the range will be excluded.
Similarly, we can mention a slicing range without the end value. In that case, the item with the index mentioned in the start value of the range till the end of the tuple will be returned.

In [79]:
tuple1 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# slice a tuple without start index
print(tuple1[:5])


# slice a tuple without end index
print(tuple1[6:])

(0, 1, 2, 3, 4)
(6, 7, 8, 9, 10)

Similarly, we can slice tuple using negative indexing as well. The last but first item will have the index -1.

In [80]:
tuple1 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
# slice tuple using negative indexing
print(tuple1[-5 : -1])

(6, 7, 8, 9)

Here we can see that the items with the negative indexes starting from -1 till -4 are printed excluding -5.

## Finding an item in a Tuple
We can search for a certain item in a tuple using the index() method and it will return the position of that particular item in the tuple.

The index() method accepts the following three arguments

- item – The item which needs to be searched
- start – (Optional) The starting value of the index from which the search will start
- end – (Optional) The end value of the index search

Example:

In [81]:
tuple1 = (10, 20, 30, 40, 50)
position = tuple1.index(30)
# get index of item 30

print(position)

2

As seen in the above output the index value of item 30 is printed.

## Find within a range
We can mention the start and end values for the index() method so that our search will be limited to those values.

Example:

In [82]:
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80)
# limit the search locations using start and end
# Search only from location 4 to 6
# start = 4 and end = 6
# get index of item 60

position = tuple1.index(60, 4, 6)
print(position)

5

As seen in the above output we have limited the search from the index position 4 to 6 as the number 60 is present in this range only. In case we mention any item that is not present then it will throw a value error

In [83]:
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80)
# index out of range
position = tuple1.index(10)
print(tuple1.index(10))

0

## Checking if an item exists
We can check whether an item exists in a tuple by using the in operator. This will return a boolean True if the item exists and False if it doesn’t.

In [84]:
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80)
# checking whether item 50 exists in tuple
print(50 in tuple1)
# Output True
print(500 in tuple1)

True
False

As seen in the above output we can see that the item ’50’ exists in the tuple so we got True and ‘500’ doesn’t and so we got False.

Adding and changing items in a Tuple
A list is a mutable type, which means we can add or modify values in it, but tuples are immutable, so they cannot be changed.

Also, because a tuple is immutable there are no built-in methods to add items to the tuple.

If you try to modify the value you will get an error.

Example:

In [85]:
tuple1 = (0, 1, 2, 3, 4, 5)
tuple1[1] = 10

TypeError: 'tuple' object does not support item assignment

As a workaround solution, we can convert the tuple to a list, add items, and then convert it back to a tuple. As tuples are ordered collection like lists the items always get added in the end.

In [86]:
tuple1 = (0, 1, 2, 3, 4, 5, 6, 7)
# converting tuple into a list
sample_list = list(tuple1)
# add item to the list

sample_list.append(8)

# converting list back into a tuple

tuple1 = tuple(sample_list)
print(tuple1)

(0, 1, 2, 3, 4, 5, 6, 7, 8)

As we can see in the above output the item is added to the tuple in the end.

## Modify nested items of a tuple

One thing to remember here, If one of the items is itself a mutable data type as a list, then we can change its values in the case of a nested tuple.

For example, let’s assume you have the following tuple which has a list as its last item and you wanted to modify the list items.

tuple1 = (10, 20, [25, 75, 85])

Let’s see how to modify the set item if it contains mutable types.

Example:

In [87]:
tuple1 = (10, 20, [25, 75, 85])
# before update

print(tuple1)

# modify last item's first value

tuple[2][0] = 250
# after update

print(tuple1)

(10, 20, [25, 75, 85])

TypeError: 'types.GenericAlias' object does not support item assignment

As tuples are immutable we cannot change the values of items in the tuple. Again with the same workaround we can convert it into a list, make changes and convert it back into a tuple.

In [88]:
tuple1 = (0, 1, 2, 3, 4, 5)
# converting tuple into a list
sample_list = list(tuple1)

# modify 2nd item
sample_list[1] = 10

# converting list back into a turple
tuple1 = tuple(sample_list)
print(tuple1)

(0, 10, 2, 3, 4, 5)

## Removing items from a tuple
Tuples are immutable so there are no pop() or remove() methods for the tuple. We can remove the items from a tuple using the following two ways.

- Using del keyword
- By converting it into a list

# Using del keyword
The del keyword will delete the entire tuple.

In [89]:
sampletup1 =(0,1,2,3,4,5,6,7,8,9,10)
del sampletup1

print(sampletup1)

NameError: name 'sampletup1' is not defined

As seen in the above output we are getting error when we try to access a deleted tuple.

## By converting it into a List
We can convert a tuple into a list and then remove any one item using the remove() method. Then again we will convert it back into a tuple using the tuple() constructor.

In [90]:
tuple1 = (0, 1, 2, 3, 4, 5)

# converting tuple into a list
sample_list = list(tuple1)
# reomve 2nd item
sample_list.remove(2)

# converting list back into a tuple
tuple1 = tuple(sample_list)
print(tuple1)

(0, 1, 3, 4, 5)

As seen in the above output item 3 has been removed from the tuple.

Count the occurrence of an item in a tuple
As we learned, a tuple can contain duplicate items. To determine how many times a specific item occurred in a tuple, we can use the count() method of a tuple object.

The count() method accepts any value as a parameter and returns the number of times a particular value appears in a tuple.

Example:

In [91]:
tuple1 = (10, 20, 60, 30, 60, 40, 60)
# Count all occurrences of item 60
count = tuple1.count(60)
print(count)

count = tuple1.count(600)
print(count)

3
0

## Copying a tuple
We can create a copy of a tuple using the assignment operator '=' . This operation will create only a reference copy and not a deep copy because tuples are immutable.

In [92]:
tuple1 = (0, 1, 2, 3, 4, 5)

# copy tuple
tuple2 = tuple1
print(tuple2)


# changing tuple2
# converting it into a list
sample_list = list(tuple2)
sample_list.append(6)

# converting list back into a tuple2
tuple2 = tuple(sample_list)

# printing the two tuples
print(tuple1)

print(tuple2)

(0, 1, 2, 3, 4, 5)
(0, 1, 2, 3, 4, 5)
(0, 1, 2, 3, 4, 5, 6)

As we can see in the above output the tuple1 is not affected by the changes made in tuple2.

## Concatenating two Tuples
We can concatenate two or more tuples in different ways. One thing to note here is that tuples allow duplicates, so if two tuples have the same item, it will be repeated twice in the resultant tuple. Let us see each one of them with a small example.

## Using the + operator
We can add two tuples using the + operator. This is a very and straightforward method and the resultant tuple will have items from both the tuples.

In [93]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)

# concatenate tuples using + operator
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

As seen in the above output the resultant tuple has items from both the tuples and the item 3, 4, 5 are repeated twice.

## Using the sum() function
We can also use the Python built-in function sum to concatenate two tuples. But the sum function of two iterables like tuples always needs to start with Empty Tuple. Let us see this with an example.

In [94]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)

# using sum function
tuple3 = sum((tuple1, tuple2), ())
print(tuple3)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

As we can see in the above output the sum function takes an Empty tuple as an argument and it returns the items from both the tuples.

## Using the chain() function
The chain() function is part of the itertools module in python. It makes an iterator, which will return all the first iterable items (a tuple in our case), which will be followed by the second iterable. We can pass any number of tuples to the chain() function.

In [95]:
import itertools

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)

# using itertools
tuple3 = tuple(item for item in itertools.chain(tuple1, tuple2))
print(tuple3)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

As seen in the above output we can concatenate any number of tuples using the above method and it is more time-efficient than other methods.


- Nested tuples
Nested tuples are tuples within a tuple i.e., when a tuple contains another tuple as its member then it is called a nested tuple.

In order to retrieve the items of the inner tuple we need a nested for loop

In [98]:
nested_tuple = ((20, 40, 60), (10, 30, 50), "Python")

# access the first item of the third tuple
print(nested_tuple[2][0])  # P

# iterate a nested tuple
for i in nested_tuple:
    print("tuple", i, "elements")
    for j in i:
        print(j, end=", ")
    print("\n")

P
tuple (20, 40, 60) elements
20, 40, 60,

tuple (10, 30, 50) elements
10, 30, 50,

tuple Python elements
P, y, t, h, o, n,

## Use built-in functions with tuple
min() and max()
As the name suggests the max() function returns the maximum item in a tuple and min() returns the minimum value in a tuple.

In [99]:
tuple1 = ('xyz', 'zara', 'abc')
# The maximum value in a string tuple
print(max(tuple1))
# The minimum value in a string tuple
print(min(tuple1))
tuple2 = (11, 22, 10, 4)

# The maximum value in an integer tuple
print(max(tuple2))

#The minimum value in an integer tuple

print(min(tuple2))

zara
abc
22
4

Note: We can’t find the max() and min() for a heterogeneous tuple (mixed types of items). It will throw Type Error

In [100]:
tuple3 = ('a', 'e', 11, 22, 15)
# max item
print(max(tuple3))

TypeError: '>' not supported between instances of 'int' and 'str'

## all()
In the case of all() function, the return value will be true only when all the values inside are true. Let us see the different item values and the return values.

Item values in a tuple	Return value

All values are True	True
One or more False values	False
All False values	False
Empty tuple	True

In [101]:
# all() with All True values
tuple1 = (1, 1, True)
print(all(tuple1))  # True

# all() All True values
tuple1 = (1, 1, True)
print(all(tuple1))  # True

# all() with One false value
tuple2 = (0, 1, True, 1)
print(all(tuple2))  # False

# all() with all false values
tuple3 = (0, 0, False)
print(all(tuple3))  # False

# all() Empty tuple
tuple4 = ()
print(all(tuple4))  # True

True
True
False
False
True

## any()
The any() method will return true if there is at least one true value. In the case of the empty tuple, it will return false. Let us see the same possible combination of values for any() function in a tuple and its return values.

Item values in a tuple	Return value

All values are True	True
One or more False values	True
All False values	False
Empty tuple	False
Similarly, let’s see each one of the above scenarios with a small example.

In [103]:
# any() with All True values
tuple1 = (1, 1, True)
print(any(tuple1))  # True

# any() with One false value
tuple2 = (0, 1, True, 1)
print(any(tuple2))  # True

# any() with all false values
tuple3 = (0, 0, False)
print(any(tuple3))  # False

# any() with Empty tuple
tuple4 = ()
print(any(tuple4))  # False

True
True
False
False

## When to use Tuple?
As tuples and lists are similar data structures, and they both allow sequential data storage, tuples are often referred to as immutable lists. So the tuples are used for the following requirements instead of lists.

There are no append() or extend() to add items and similarly no remove() or pop() methods to remove items. This ensures that the data is write-protected. As the tuples are Unchangeable, they can be used to represent read-only or fixed data that does not change.
As they are immutable, they can be used as a key for the dictionaries, while lists cannot be used for this purpose.
As they are immutable, the search operation is much faster than the lists. This is because the id of the items remains constant.
Tuples contain heterogeneous (all types) data that offers huge flexibility in data that contains combinations of data types like alphanumeric characters.

## Summary of tuples operations
For the following examples, we assume that t1 and t2 are tuples, x, i, j, k, n are integers.

t1 = (10, 20, 30, 40, 50) and t2 = (60, 70, 80, 60)

Operation	Description
x in t1	Check if the tuple t1 contains the item x.
x not in t2	Check if the tuple t1 does not contain the item x.
t1 + t2	Concatenate the tuples t1 and t2. Creates a new tuple containing the items from t1 and t2.
t1 * 5	Repeat the tuple t1 5 times.
t1[i]	Get the item at the index i. Example, t1[2] is 30
t1[i:j]	Tuple slicing. Get the items from index i up to index j (excluding j) as a tuple. An example t1[0:2] is (10, 20)
t1[i:j:k]	Tuple slicing with step. Return a tuple with the items from index i up to index j taking every k-th item. An example t1[0:4:2] is (10, 30)
len(t1)	Returns a count of total items in a tuple
t2.count(60)	Returns the number of times a particular item (60) appears in a tuple. Answer is 2
t1.index(30)	Returns the index number of a particular item(30) in a tuple. Answer is 2
t1.index(40, 2, 5)	Returns the index number of a particular item(30) in a tuple. But search only from index number 2 to 5.
min(t1)	Returns the item with a minimum value from a tuple
max(t1)	Returns the item with maximum value from a tuple